{% extends "layout.html"%}
{% block header %}
<div class="slider">
  <img class="responsive-img"  width="700px" hight="300px" class="img-responsive"alt="..." src="{{ url_for('static', filename='logo.png') }}" /

</div>
<div class="titulli">
  <h3>FORMULAR I NJOFTIMIT PER
           HYRJE NE AKTIVITETIN E KOMUNIKIMEVE ELEKTONIKE</h3>
</div>


  <form>
    <fieldset class="form-gro">
      <legend>QËLLIMI I NJOFTIMIT *</legend>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
          Fillimi i shërbimit
        </label>
      </div>
      <div class="form-check">
      <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
          Shtim shërbimi
        </label>
      </div>
      <div class="form-check disabled">
      <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3" >
          Heqje shërbimi
        </label>
      </div>
    </fieldset>
  <div id="browse_app">
      <a class="testii" href="test.html">Vazhdo</a>
    </div>
  </form>
{% endblock %}
