<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>ARKEP</title>
			<script type="text/css" src="{{ url_for( 'static', filename='css/bootstrap.css') }}"></script>
		<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
			<script type="text/css" src="{{ url_for( 'static', filename='css/style.css') }}"></script>
		<script type="text/javascript" src="{{ url_for( 'static', filename='js/jquery1.11.1.js') }}"></script>
	<script type="text/javascript" src="{{ url_for( 'static', filename='js/bootstrap.js') }}"></script>

	</head>
	<body>
		{{%bolck content%}}
		{{%end block%}}
	</body>
	</html>
