{% extends 'layout.html'%}
{% block content %}
<div class="content">
  <div class="col-sm-10 col-sm-offset-1 contact_form">
		<legend>TË DHËNAT PËR NDËRMARRËSIN *</legend>
		<div class="form-group">
    <div class="majtas">
          <p>Emri i Ndërmarrësit (Entiteti)</p>
          <p>Numri i Regjistrimit të Biznesit</p>
          <p>Numri fiskal</p>
          <p>Adresa</p>
          <p>Numri i Telefonit</p>
          <p>Numri i Faksit</p>
          <p>E-mail adresa</p>
          </div>
          <div class="djathats">
          <input type="text" name="vetemshkronja" placeholder="Emri i Ndërmarrësit (Entiteti)"><br><br>
          <input type="text" name="vetemnumra"placeholder="Numri i Regjistrimit të Biznesit"><br><br>
          <input type="text" placeholder="vetemnumra"><br><br>
          <input type="text" placeholder="Vetemshkronja"><br><br>
          <input type="text" placeholder="Numri i Telefonit"><br><br>
          <input type="text" placeholder="Numri i Faksit"><br><br>
          <input type="text" placeholder="E-mail adresa"><br><br>
    </div><br><br>
  </div>

   <div class="col-sm-12  contact_form">
          <legend>TË DHËNAT PËR ZYRTARIN LIGJËRISHT TË PËRGJEGJËSHËM *</legend>
          </div>
          <div class="form-group">
    <div class="majtas">
          <p>Emri i zyrtarit</p>
          <p>Adresa</p>
          <p>Numri i Telefonit</p>
          <p>Numri i Faksit</p>
          <p>E-mail adresa</p>
          <p>Numri i ID</p>
          </div>
          <div class="djathats">
          <input type="text" name="vetemshkronja" placeholder="Emri i zyrtarit"><br><br>
          <input type="text" name="vetemshkronja"placeholder="Adresa"><br><br>
          <input type="text" name="vetemnumra" placeholder="Numri i Telefonit"><br><br>
          <input type="text" name="vetemnumra" placeholder="Numri i Faksit"><br><br>
          <input type="text" name="vetemshkronja" placeholder="E-mail adresa"><br><br>
          <input type="text" placeholder="Numri i ID"><br><br>
    </div>
  </div>
  <div class="col-sm-12  contact_form">
          <legend>AKTIVITETET TË CILAT NJOFTOHEN/CREGJISTROHEN *</legend>

          <div class="form">
           <div class="majtas">
              <p>Ofrimi i rrjetit publik fiks</p>
              <label><input type="radio" name="optradio">Lokal</label>
               <label><input type="radio" name="optradio">Nacional </label>
              <label><input type="radio" name="optradio">Tjera (specifikoj)</label>
              <p>Ofrimi i rrjetit publik mobil</p>
              <label><input type="radio" name="optradio">Lokal</label>
            <label><input type="radio" name="optradio">Nacional </label><br><br>
              <p>Ofrimi i shërbimeve të linjave me qira</p>
              <label><input type="radio" name="optradio">Fibër optik të pa-ndriçuar</label>
             <label><input type="radio" name="optradio">Linja tjera me qira</label><br><br>
              <p>Ofrimi i shërbimeve të transmetimit të të dhënave (Internetit)</p>
              <label><input type="radio" name="optradio">Ofrimi i shërbimeve publike të transmetimit të të dhënave (internetit)</label><br><br>
      <p>Ofrimi i shërbimeve me vlerë të shtuar</p>
       <label><input type="radio" name="optradio">Ofrimi i shërbimeve me vlerë të shtuar</label><br><br>
          </div>
          <div class="right">
            <div class="pjesa2">
              <p>Ofrimi i shërbimeve publike fikse</p>
          <label><input type="radio" name="optradio">Shërbime telefonike lokale/nacionale</label>
          <label><input type="radio" name="optradio">Shërbime telefonike ndërkombëtare</label>
          <label><input type="radio" name="optradio">Telefona publik me pagesë</label>
          <label><input type="radio" name="optradio"> Shërbime tjera (specifikoj)</label><br><br>
          </div>
            <div class="pjesa4">
               <p>Ofrimi i shërbimeve publike mobile</p>
                <label><input type="radio" name="optradio">Shërbime telefonike të zërit</label>
                <li><label><input type="radio" name="optradio">Transmetim të dhënash </label><br><br>
            </div>
            <p>Ofrimi i rrjetave publike me transmetim satelitor</p>
            <label><input type="radio" name="optradio"> Ofrimi i shërbimeve publike satelitore</label>
    </div>
  </div>
</div>
  <div class="col-sm-12  contact_form">
          <legend>PËRSHKRIMI I AKTIVITETIT DHE FAZA E OFRIMIT *</legend>

          <div class="form-group">
    <div class="majtas">
          <p>1.Përshkrimi i rrjetit dhe/ose shërbimit që do të ofrohet:</p>
           <ul>
             <li>A do të përdoret rrjeti vetanak apo ndonjë rrjet tjetër,</li>
             <li>Teknologjia e cila do të përdoret</li>
             <li>Radio frekuencat, të cilat planifikohen të përdoren</li>
             <li>Lista e shërbimeve që planifikohen të ofrohen</li>
             <li>Etj.</li>
           </ul>
           <p>Mund të përdoret ndonjë Shtojcë i veçantë në rast se hapësira nuk është e mjaftueshme)</p>
          <p>2.Faza e Ofrimit</p>
          <p>(Të specifikohet koha e parashikuar për fillimin e aktivitetit të komunikimeve elektronike)</p>
          </div>
          <div class="djathats">
          <div class="textarea-form">
            <textarea class="form-control" rows="3" placeholder="How can i help you?"></textarea>
        </div>
        <div class="textarea-form">
            <textarea class="form-control" rows="3" placeholder="How can i help you?"></textarea>
        </div>
    </div>
  </div>
   </div>
  <div class="col-sm-12  contact_form">
        <legend>DOKUMENTET E BASHKANGJITURA *</legend>
        <div class="form-group">
          <div class="majtas">
             <p>Dokumentet e bashkangjitura si shtojcë aplikacionit të Njoftimit</p>
          </div>
          <div class="djathats">
             <ul>
              <li>Kopje e certifikatës së regjistrimit të biznesit
              &nbsp;&nbsp;<button type="button" class="btn btn-success">Upload</button></li>
              <li>Kopje e Certifikatës së numrit fiskal&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-success">Upload</button></li>
              <li>Kopje e dokumentit ‘Informatë mbi biznesin&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-success">Upload</button></li>
            </ul>
          </div>
  </div>
  </div>
  <div class="col-sm-12  contact_form">
          <legend>KONFIRMIMI I NJOFTIMIT *</legend>
          <div class="form-group">
              <fieldset class="form-group row">
              Ndërmarrja kërkon që t’i lëshohet certifikata e konfirmimit të njoftimit për ofrimin e rrjeteve dhe/ose shërbimeve publike të komunikimeve elektronike të njoftuara përmes këtij formulari:
              <div class="sat2">
                  <label><input type="radio" name="optradio">PO</label>
                </div>
                <div class="sat2">
                  <label><input type="radio" name="optradio">JO</label>
                </div>
              </fieldset>
          </div>
      <div class="col-sm-12  contact_form">
          <legend>DETYRIMET LIGJORE: *</legend>
          <div class="bllok">
              <label><input type="radio" name="optradio">Unë nëpërmjet këtij dokumenti deklaroj se do të ushtroj aktivitet në fushën e komunikimeve elektronike të shënuara më sipër dhe aplikoj për regjistrim në regjistrin e ofrueseve të rrjeteve dhe shërbimeve të komunikimeve elektronike të Autoritetit (ARKEP).</label><br><br>
              <label><input type="radio" name="optradio">Unë nëpërmjet këtij dokumenti deklaroj se kam mbyllur aktivitetet e komunikimeve elektronike të shënuara më sipër.</label><br><br>
              <label><input type="radio" name="optradio">Unë nëpërmjet këtij dokumenti deklaroj se kam mbyllur çdo aktivitet të komunikimeve elektronike nën regjimin e Autorizimit të përgjithshëm</label><br><br>
              <label><input type="radio" name="optradio">Unë nëpërmjet këtij dokumenti deklaroj se të dhënat e mia kanë pësuar ndryshime, sikurse përshkruhen në formular.</label><br><br>
              <label><input type="radio" name="optradio">Unë nëpërmjet këtij dokumenti deklaroj se kam ndryshuar formën ligjore të ndërmarrjes sime siç përshkruhet në formular. Emri i vjetër është si më poshtë;</label><br><br>
        </div>
      </div>
  </div>
  <div class="col-sm-12  contact_form">
          <legend> *</legend>>
  <div class="form-group">
          <div class="bllog">
            <p>Unë nëpërmjet këtij dokumenti paraqes në ARKEP të gjithë dokumentacionin e nevojshëm ligjor dhe/ose të gjithë dokumentet që sigurojnë se nënshkruesi i këtij Njoftimi Regjistrimi ka lidhje me personin përfaqësues.Unë deklaroj se informacioni që përfshihet në deklarimin e paraqitur, sikurse çdo informacion tjetër shoqërues , është i saktë dhe i vërtetë, dhe jam plotësisht i vetëdijshëm për faktin që, lidhur me angazhimin në çdo aktivitet të komunikimeve elektronike për të cilin është e nevojshme të sigurosh të drejtën e përdorimit për numeracion dhe frekuenca, të drejta të cilat nuk sigurohen nëpërmjet kësaj procedurë, unë duhet të paraqes një aplikim për të fituar të drejtat e përdorimit të cituara më sipër përpara fillimit të ofrimit të shërbimit.</p>

          </div>
      </div>
      </div>
  <div class="col-sm-12 test">
    <div class="form-group">
        <div class="majtas">
            <h4>Data e Njoftimit:_________</h4>
            <h4>Vendi:________________</h4>
        </div>
        <div class="djathats">
            <h4>Nënshkrimi dhe Vula:</h4>
        </div>
  </div>
</div>


    <button type="button" method="POST" class="btn btn-primary">Send</button>
{% endblock %}
